.card-img-top{
    height: 200px;
    object-fit: cover;
}
#carouselExampleCaptions{
    height: 30%;
}

footer img{
    height: 3vh;
    max-width: 50px;

}

#formbox{
    padding-top: 1em;
    width: 80%;
}
     
.d-block{
    max-height: 400px;
    object-fit: cover;
    
}
main{
   min-height: 80vh;
    
}

.card{
    width: 20rem;
}

#imgDet{
    width: 400px;
  
  }
  